[user]
		name = {#full_name#}
		email = {#email#}
[alias]
		#g = log --all --graph --pretty=format:\"%C(auto)%h %d %C(black bold)%s%Creset (%C(blue dim)%an: %ai%Creset)\"
		g = log --oneline --decorate --all --graph --color
[giggle]
		main-window-maximized = false
		main-window-geometry = 641x861+795+18
[color]
	ui = true
[core]
	editor = vim
#[diff]
#	external = git-meld
[push]
	default = simple
