populate_secrets.sh
move-in.sh
tags
/emacs/.emacs.d/ui.el
/emacs/.emacs.d/common.el
/emacs/.emacs.d/elpa/*
/emacs/.emacs.d/evil.el
/emacs/.emacs.d/experimental.el
/emacs/.emacs.d/auto-save-list/*
/emacs/.emacs.d/projectile-bookmarks.eld
